In [1]:
from IPython import display
import pandas as pd
import statsmodels.api as sm
from patsy import dmatrices

In [2]:
TREAT_STATES_YEARS = {"AZ": 2006, "CA": 2002, "CO": 2004, "CT": 1998, "DE": 2005, "HI": 2001, "IL": 2007, "IN": 2011, "IA": 1983, "KS": 2009, "ME": 1999, "MD": 2004, "MA": 1997, "MI": 2008, "MN": 2007, "MO": 2007, "MT": 2005, "NV": 1997, "NH": 2007, "NJ": 1991, "NM": 2002, "NY": 2004, "NC": 2007, "ND": 2007, "OH": 2008, "OK": 2010, "OR": 2007, "PA": 2004, "RI": 2004, "SC": 2014, "SD": 2008, "TX": 1999, "UT": 2008, "VT": 2005, "VA": 2007, "WA": 2006, "WV": 2009, "WI": 1998, "DC": 2005}
TREAT_STATES = set(TREAT_STATES_YEARS.keys())
CTRL_STATES = {"GA", "KY", "ID", "AL", "MS", "FL", "LA", "WY", "TN", "NE", "AK", "AR"}
ALL_STATES = TREAT_STATES | CTRL_STATES

In [3]:
df = pd.read_csv("Datasets/seds.csv")
orig_num_rows = df.shape[0]
df.dropna(inplace=True)

print("Dropped {} rows".format(orig_num_rows - df.shape[0]))
print(df.shape)
display.display(df.describe())
display.display(df.head(10))

Dropped 28158 rows
(1683578, 8)

               year         value
count  1.683578e+06  1.683578e+06
mean   1.990484e+03  1.077022e+05
std    1.567905e+01  1.383675e+06
min    1.960000e+03 -7.090800e+05
25%    1.977000e+03  1.033000e+00
50%    1.991000e+03  8.400000e+01
75%    2.004000e+03  6.942000e+03
max    2.017000e+03  1.009913e+08

,year,msn,state_name,state_code,description,energy_bin,value,unit
0,1960,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
1,1961,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
2,1962,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
3,1963,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
4,1964,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
5,1965,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
6,1966,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
7,1967,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
8,1968,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu
9,1969,ABICB,Alaska,AK,Aviation gasoline blending components consumed...,Petroleum,0.0,Billion Btu

In [4]:
# asphalt_output = df.loc[df["msn"] == "ESTCB"]
# display.display(asphalt_output.groupby("state_code")["value"].mean())

In [5]:
def preprocess(target_msn):
    df["year_categ"] = df["year"].astype("category")

    target_df = df[df["msn"] == target_msn][["state_code", "year_categ", "value"]]
    target_df.sort_values(["state_code", "year_categ"], inplace=True)
    target_df.reset_index(drop=True, inplace=True)
#     display.display(target_df.head(10))

    # time-fixed effects
    year_df = pd.DataFrame()
    year_df["year_categ"] = df["year_categ"].unique()
    year_df["year_categ"] = year_df["year_categ"].astype("category")
    year_df["key"] = 0

    # unit-fixed effects
    state_df = pd.DataFrame()
    state_df["state_code"] = list(ALL_STATES)
    state_df["state_code"] = state_df["state_code"].astype("category")
    state_df["key"] = 0

    # treatment indicator
    regressors_df = pd.merge(year_df, state_df, on="key")
    regressors_df.drop("key", axis=1, inplace=True)
    regressors_df["treated"] = regressors_df.apply(
            lambda r: r["state_code"] in TREAT_STATES and r["year_categ"] > TREAT_STATES_YEARS[r["state_code"]],
            axis=1)
    regressors_df.sort_values(["state_code", "year_categ"], inplace=True)
    regressors_df.reset_index(drop=True, inplace=True)
#     display.display(regressors_df.head(10))

    # preprocessed dataframe
    prepped_df = pd.merge(regressors_df, target_df, on=["state_code", "year_categ"], sort=True)
    display.display(prepped_df.head(10))
    
    return prepped_df

In [6]:
def fit_model(df):
    y, X = dmatrices("value ~ year_categ + state_code + treated", data=prepped_df, return_type="dataframe")
    model = sm.RLM(y, X)
    res = model.fit()
    return res

In [7]:
prepped_df = preprocess("ESTCB")
res = fit_model(prepped_df)
print(res.summary())

  year_categ state_code  treated   value
0       1960         AK    False  1011.0
1       1961         AK    False  1175.0
2       1962         AK    False  1359.0
3       1963         AK    False  1649.0
4       1964         AK    False  1824.0
5       1965         AK    False  2107.0
6       1966         AK    False  2365.0
7       1967         AK    False  2533.0
8       1968         AK    False  2863.0
9       1969         AK    False  3201.0

                    Robust linear Model Regression Results
==============================================================================
Dep. Variable:                  value   No. Observations:                 2958
Model:                            RLM   Df Residuals:                     2849
Method:                          IRLS   Df Model:                          108
Norm:                          HuberT
Scale Est.:                       mad
Cov Type:                          H1
Date:                Sat, 23 Feb 2019
Time:                        11:59:41
No. Iterations:                     5
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept           -8.89e+04   7749.423    -11.472      0.000   -1.04e+05   -7.37e+04
year_categ[T.1961]  1707.8725   8010.958      0.213      0.831    -1.4e+04    1.74e+04
year_categ[T.1962]  4342.6753   8010.958      0.542      0.588   -1.14e+04       2e+04
year_categ[T.1963]  7370.8619   8010.958      0.920      0.358   -8330.327    2.31e+04
year_categ[T.1964]  1.055e+04   8010.958      1.316      0.188   -5156.138    2.62e+04
year_categ[T.1965]  1.311e+04   8010.958      1.636      0.102   -2595.020    2.88e+04
year_categ[T.1966]  1.732e+04   8010.958      2.162      0.031    1615.888     3.3e+04
year_categ[T.1967]  2.043e+04   8010.958      2.550      0.011    4730.313    3.61e+04
year_categ[T.1968]  2.604e+04   8010.958      3.250      0.001    1.03e+04    4.17e+04
year_categ[T.1969]  3.208e+04   8010.958      4.004      0.000    1.64e+04    4.78e+04
year_categ[T.1970]  3.603e+04   8010.958      4.498      0.000    2.03e+04    5.17e+04
year_categ[T.1971]   3.98e+04   8010.958      4.968      0.000    2.41e+04    5.55e+04
year_categ[T.1972]  4.611e+04   8010.958      5.756      0.000    3.04e+04    6.18e+04
year_categ[T.1973]  5.257e+04   8010.958      6.562      0.000    3.69e+04    6.83e+04
year_categ[T.1974]  5.253e+04   8010.958      6.558      0.000    3.68e+04    6.82e+04
year_categ[T.1975]  5.362e+04   8010.958      6.693      0.000    3.79e+04    6.93e+04
year_categ[T.1976]  5.977e+04   8010.958      7.461      0.000    4.41e+04    7.55e+04
year_categ[T.1977]  6.435e+04   8010.958      8.032      0.000    4.86e+04       8e+04
year_categ[T.1978]  6.777e+04   8010.958      8.459      0.000    5.21e+04    8.35e+04
year_categ[T.1979]  7.069e+04   8010.958      8.824      0.000     5.5e+04    8.64e+04
year_categ[T.1980]  7.117e+04   8010.958      8.884      0.000    5.55e+04    8.69e+04
year_categ[T.1981]  7.407e+04   8010.958      9.246      0.000    5.84e+04    8.98e+04
year_categ[T.1982]  7.036e+04   8010.958      8.782      0.000    5.47e+04    8.61e+04
year_categ[T.1983]  7.408e+04   8010.958      9.247      0.000    5.84e+04    8.98e+04
year_categ[T.1984]  8.148e+04   8011.210     10.171      0.000    6.58e+04    9.72e+04
year_categ[T.1985]  8.357e+04   8011.210     10.431      0.000    6.79e+04    9.93e+04
year_categ[T.1986]   8.64e+04   8011.210     10.785      0.000    7.07e+04    1.02e+05
year_categ[T.1987]  9.233e+04   8011.210     11.525      0.000    7.66e+04    1.08e+05
year_categ[T.1988]  1.004e+05   8011.210     12.533      0.000    8.47e+04    1.16e+05
year_categ[T.1989]   1.05e+05   8011.210     13.107      0.000    8.93e+04    1.21e+05
year_categ[T.1990]  1.094e+05   8011.210     13.653      0.000    9.37e+04    1.25e+05
year_categ[T.1991]  1.126e+05   8011.210     14.060      0.000    9.69e+04    1.28e+05
year_categ[T.1992]  1.131e+05   8011.967     14.113      0.000    9.74e+04    1.29e+05
year_categ[T.1993]  1.194e+05   8011.967     14.901      0.000    1.04e+05    1.35e+05
year_categ[T.1994]  1.232e+05   8011.967     15.375      0.000    1.07e+05    1.39e+05
year_categ[T.1995]  1.276e+05   8011.967     15.920      0.000    1.12e+05    1.43e+05
year_categ[T.1996]  1.323e+05   8011.967     16.509      0.000    1.17e+05    1.48e+05
year_categ[T.1997]   1.34e+05   8011.967     16.729      0.000    1.18e+05     1.5e+05
year_categ[T.1998]  1.396e+05   8014.993     17.420      0.000    1.24e+05    1.55e+05
year_categ[T.1999]  1.436e+05   8020.035     17.907      0.000    1.28e+05    1.59e+05
year_categ[T.2000]  1.487e+05   8027.087     18.523      0.000    1.33e+05    1.64e+05
year_categ[T.2001]  1.467e+05   8027.087     18.282      0.000    1.31e+05    1.62e+05
year_categ[T.2002]  1.514e+05   8031.366     18.848      0.000    1.36e+05    1.67e+05
year_categ[T.2003]  1.526e+05   8041.426     18.980      0.000    1.37e+05    1.68e+05
year_categ[T.2004]   1.55e+05   8041.426     19.278      0.000    1.39e+05    1.71e+05
year_categ[T.2005]  1.625e+05   8075.283     20.123      0.000    1.47e+05    1.78e+05
year_categ[T.2006]  1.631e+05   8111.242     20.110      0.000    1.47e+05    1.79e+05
year_categ[T.2007]  1.692e+05   8132.144     20.803      0.000    1.53e+05    1.85e+05
year_categ[T.2008]  1.685e+05   8234.879     20.456      0.000    1.52e+05    1.85e+05
year_categ[T.2009]  1.613e+05   8297.469     19.445      0.000    1.45e+05    1.78e+05
year_categ[T.2010]  1.709e+05   8331.499     20.514      0.000    1.55e+05    1.87e+05
year_categ[T.2011]  1.708e+05   8349.188     20.462      0.000    1.54e+05    1.87e+05
year_categ[T.2012]  1.688e+05   8367.322     20.179      0.000    1.52e+05    1.85e+05
year_categ[T.2013]  1.697e+05   8367.322     20.277      0.000    1.53e+05    1.86e+05
year_categ[T.2014]  1.708e+05   8367.322     20.412      0.000    1.54e+05    1.87e+05
year_categ[T.2015]  1.697e+05   8385.900     20.242      0.000    1.53e+05    1.86e+05
year_categ[T.2016]  1.697e+05   8385.900     20.236      0.000    1.53e+05    1.86e+05
year_categ[T.2017]  1.672e+05   8385.900     19.937      0.000    1.51e+05    1.84e+05
state_code[T.AL]    1.922e+05   7511.999     25.585      0.000    1.77e+05    2.07e+05
state_code[T.AR]    8.866e+04   7511.999     11.803      0.000    7.39e+04    1.03e+05
state_code[T.AZ]    1.318e+05   7537.127     17.486      0.000    1.17e+05    1.47e+05
state_code[T.CA]    6.591e+05   7558.658     87.200      0.000    6.44e+05    6.74e+05
state_code[T.CO]    9.626e+04   7547.072     12.754      0.000    8.15e+04    1.11e+05
state_code[T.CT]     7.54e+04   7586.721      9.938      0.000    6.05e+04    9.03e+04
state_code[T.DC]     1.79e+04   7541.894      2.373      0.018    3117.092    3.27e+04
state_code[T.DE]    1.586e+04   7541.894      2.103      0.035    1076.726    3.06e+04
state_code[T.FL]    4.408e+05   7511.999     58.681      0.000    4.26e+05    4.56e+05
state_code[T.GA]    2.453e+05   7511.999     32.654      0.000    2.31e+05     2.6e+05
state_code[T.HI]    1.525e+04   7565.064      2.016      0.044     425.611    3.01e+04
state_code[T.IA]    9.922e+04   7748.734     12.805      0.000     8.4e+04    1.14e+05
state_code[T.ID]     4.66e+04   7511.999      6.203      0.000    3.19e+04    6.13e+04
state_code[T.IL]    3.642e+05   7532.772     48.353      0.000    3.49e+05    3.79e+05
state_code[T.IN]    2.382e+05   7519.484     31.673      0.000    2.23e+05    2.53e+05
state_code[T.KS]     8.12e+04   7525.300     10.791      0.000    6.65e+04     9.6e+04
state_code[T.KY]    1.947e+05   7511.999     25.914      0.000     1.8e+05    2.09e+05
state_code[T.LA]    1.888e+05   7511.999     25.139      0.000    1.74e+05    2.04e+05
state_code[T.MA]    1.309e+05   7594.749     17.236      0.000    1.16e+05    1.46e+05
state_code[T.MD]    1.415e+05   7547.072     18.751      0.000    1.27e+05    1.56e+05
state_code[T.ME]    2.346e+04   7579.096      3.096      0.002    8608.178    3.83e+04
state_code[T.MI]     2.66e+05   7528.830     35.334      0.000    2.51e+05    2.81e+05
state_code[T.MN]    1.392e+05   7532.772     18.474      0.000    1.24e+05    1.54e+05
state_code[T.MO]      1.7e+05   7532.772     22.572      0.000    1.55e+05    1.85e+05
state_code[T.MS]    9.423e+04   7511.999     12.544      0.000    7.95e+04    1.09e+05
state_code[T.MT]    2.894e+04   7541.894      3.837      0.000    1.42e+04    4.37e+04
state_code[T.NC]    2.789e+05   7532.772     37.025      0.000    2.64e+05    2.94e+05
state_code[T.ND]    1.594e+04   7532.772      2.117      0.034    1179.406    3.07e+04
state_code[T.NE]    5.145e+04   7511.999      6.849      0.000    3.67e+04    6.62e+04
state_code[T.NH]    1.484e+04   7532.772      1.970      0.049      73.075    2.96e+04
state_code[T.NJ]    1.895e+05   7651.325     24.772      0.000    1.75e+05    2.05e+05
state_code[T.NM]    3.828e+04   7558.658      5.064      0.000    2.35e+04    5.31e+04
state_code[T.NV]    5.641e+04   7594.749      7.428      0.000    4.15e+04    7.13e+04
state_code[T.NY]    3.958e+05   7547.072     52.444      0.000    3.81e+05    4.11e+05
state_code[T.OH]     4.32e+05   7528.830     57.385      0.000    4.17e+05    4.47e+05
state_code[T.OK]    1.172e+05   7522.185     15.574      0.000    1.02e+05    1.32e+05
state_code[T.OR]    1.212e+05   7532.772     16.096      0.000    1.06e+05    1.36e+05
state_code[T.PA]    3.714e+05   7547.072     49.205      0.000    3.57e+05    3.86e+05
state_code[T.RI]    8117.1556   7547.072      1.076      0.282   -6674.833    2.29e+04
state_code[T.SC]    1.664e+05   7513.871     22.144      0.000    1.52e+05    1.81e+05
state_code[T.SD]    1.111e+04   7528.830      1.475      0.140   -3650.467    2.59e+04
state_code[T.TN]    2.511e+05   7511.999     33.423      0.000    2.36e+05    2.66e+05
state_code[T.TX]    7.622e+05   7579.096    100.562      0.000    7.47e+05    7.77e+05
state_code[T.UT]    4.653e+04   7528.830      6.181      0.000    3.18e+04    6.13e+04
state_code[T.VA]    2.225e+05   7532.772     29.531      0.000    2.08e+05    2.37e+05
state_code[T.VT]    2437.1771   7541.894      0.323      0.747   -1.23e+04    1.72e+04
state_code[T.WA]      2.4e+05   7537.127     31.847      0.000    2.25e+05    2.55e+05
state_code[T.WI]    1.541e+05   7586.721     20.315      0.000    1.39e+05    1.69e+05
state_code[T.WV]    6.959e+04   7525.300      9.247      0.000    5.48e+04    8.43e+04
state_code[T.WY]    2.076e+04   7511.999      2.763      0.006    6031.933    3.55e+04
treated[T.True]    -1.378e+04   3242.411     -4.249      0.000   -2.01e+04   -7421.397
======================================================================================

If the model instance has been used for another fit with different fit
parameters, then the fit options might not be the correct ones anymore .